user nginx;
worker_processes 1;

events {
    worker_connections 66536;
    use epoll;
    multi_accept on;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    sendfile        on;
    tcp_nodelay     on;
    #tcp_nopush     on;
    keepalive_timeout  65;
    gzip on;
    gzip_types application/json;
    gzip_proxied any;
    reset_timedout_connection on;

    resolver 127.0.0.1;

{{ range $host, $containers := groupBy $ "Env.VIRTUAL_HOST" }}
    upstream {{ $host }} {
        least_conn; 
        {{ range $index, $value := $containers }}
        {{ $network := index $value.Networks 0 }}
            {{ if $value.Env.VIRTUAL_PORT }}
                {{ range $i, $address := $value.Addresses }}
                    {{ if eq $address.Port $value.Env.VIRTUAL_PORT }}
        # {{$value.Name}}
        server {{ $network.IP }}:{{ $address.Port }};
                    {{ end }}
                {{ end }}
            {{ else }}
        # No containers with VIRTUAL_HOST and VIRTUAL_PORT
        server 127.0.0.1 down;
            {{ end }}
        {{ end }}
    }

    server {
        listen 80 default_server;
        server_name {{ trim $host }};
        proxy_buffering off;
        error_log /proc/self/fd/2;
        # access_log /proc/self/fd/1 main;
        access_log /dev/null;
        location / {
            uwsgi_pass {{ trim $host }};
            include uwsgi_params;
        }
    }
}
{{ end }}
